.container-fluid {
  padding: 10px;
}

.right-panel {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: calc(100% - 51px); /* Default width with only icon */
  margin-left: 30px; /* Default margin for the collapsed state */
}

/* RESPONSIVE CONTENT */
.with-offcanvas {
  width: calc(90% - 250px); /* Adjust width when offcanvas is open */
  margin-left: 400px; /* Shift main panel to accommodate offcanvas */
}

@media (max-width: 768px) {
  .right-panel {
    width: 100%;
    margin-left: 0;
  }

  .with-offcanvas {
    width: 100%;
    margin-left: 0; /* On small screens, main content should not shift */
  }
}

.left-panel {
  height: 0px;
}

.offcanvas {
  margin-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*
  Hidden initially
*/
/* Initially hidden */
.table-appointment-data-hidden {
  display: none;
}

.table-appointment-data-hidden,
.table-patient-profile-data {
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.left-panel > i {
  font-size: 1.2rem;
  cursor: pointer;
}

.left-panel > i:hover {
  font-size: 1.3rem;
}


.profile-container {
  color: #4040a1;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.admin-profile-container {
  padding: 0;
  width: 100%;
}

.bi-person-circle {
  font-size: 3rem;
  line-height: 1;
  margin-right: 5px;
}

.co-admin-list-collapse, .doctors-list-collapse, .pending-doctors-list-collapse {
  height: fit-content;
  padding: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #4040a1;
  font-weight: 500;
  width: 100%;
}

.collapse-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.collapse-link:hover {
  background-color: #A1E3F9;
}

.table {
  width: 100%;
  border-collapse: collapse; /* Prevents double borders */
}

.table thead {
  height: 50px;
  width: 100%;
}

.table thead th {
  padding: 10px;
  background: transparent;
  padding: 20px;

}

.table thead tr {
  border-radius: 20px;
  background: #f7f7f7;
  box-shadow: rgb(191, 196, 201) 6px 6px 12px 0px inset, rgba(208, 208, 208, 0.5) -3px -3px 6px 1px inset;
}

.table tbody tr td {
  padding: 20px;
}

.display-error-message td{ /*This is table body*/
  height: 30vh;
  text-align: center; 
  vertical-align: middle; 
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}